<li class="list-group-item" id="comment_#{{comment.id}}">
    <div class="row">
        <div class="col-md-6">
            {{comment.body}}
        </div>
        <div class="col-md-2">
            {{email}}
        </div>
    </div>
</li>
